<div>
    <h1>Productos</h1>
    <p>Contador: {{contador}}</p>
<ul>
  {{#each articulos}}
    <li>{{this.name}} - {{this.price}}</li>
  {{/each}}
</ul>

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>