<h1>bienvenido {{nombre}}</h1>

<div>
    <h1>app socket</h1>
    <form action="">
        <input type="text" name="nombre" id="" placeholder="tu nombre">
        <input type="text" name="nombre" id="" placeholder="tu mensaje">
        <input type="submit" value="enviar">

    </form>
</div>
<div class="caja" id="caja">

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>